<button (click)="setMessage()"> set message</button>
<button routerLink="../pages"> pages</button>


<!-- CLASE 2 SEP-->
<button (click)="create()"> CREAR</button>
<button (click)="delete()"> ELIMINAR</button>
<button (click)="update()"> ACTUALIZAR</button>


<app-login1></app-login1>
<app-login2></app-login2>


<!-- CLASE 3 SEP-->
<p>TEMPLATE FORM</p>
<form #formTemplate = "ngForm" 
        (ngSubmit) = "onSubmitTemplante(formTemplate)">
    <input type="text" name="aa" ngModel>
    <input type="text" name="bb" ngModel>
    <input type="text" name="cc" ngModel>
    <button type="submit">submit</button>
</form>  


<!--
<input type="text"  [(ngModel)]="aaaaaaa">
<input type="text"  [(ngModel)]="bbbbbbb">
<input type="text"  [(ngModel)]="cccccccc">
<button (click)="adasd()">submit</button>-->
 