.algo1{
  background-color: red;
}

.algo2{
  background-color: green;
}

.algo3{
  background-color: yellow;
}

.algo4{
  border: 7px lime solid;

}

.active-router{
  background-color: aquamarine;
  color: navy;

}

.active-router2{
  background-color: pink;
  color: brown;

}

.active-router3{
  background-color: purple;
  color: white;

}

