<p>App Component Liz</p>
<p> {{myvarjaja}}</p>

<app-test1-liz 
[status] = "myStatus" 
(onSendData)="printDataLizComp($event)">
</app-test1-liz>

<app-test2
 name="Liz" 
 lastName="Vasquez" 
 (onSendData)="printData($event)">
</app-test2>  

<app-test3></app-test3>


<input type="text" [(ngModel)]="myStatus">

<!-- EJEMPLO INICIAL DE NGIF-->
<!-- <button (click)= "sw = !sw">SHOW TEST3 CLASE</button>
<div *ngIf="sw">
  <app-test3-clase 
  [name]="myStatus">
  </app-test3-clase>
</div> 
-->

<button (click)= "sw = !sw">SHOW TEST3 CLASE</button>
<div [hidden]="sw">
  <app-test3-clase 
  [name]="myStatus">
  </app-test3-clase>
</div> 


<!-- EJEMPLOS NGFOR -->
<ul >
  <li *ngFor="let item of [1,2,3,4,5,6]">{{item}}</li>
  <li> First</li>
  <li> Second</li>
  <li> Third</li>
</ul>

<ul>
<li *ngFor="let item2 of ['first', 'second']">{{item2}}</li>
</ul>

<ul>
<li *ngFor="let item3 of ['first', 'second']; let i=index ">{{item3}}{{i}}</li>
</ul>


<!-- EJEMPLOS NGSWITCH -->
<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'">red </li>
  <li *ngSwitchCase="'yellow'">yellow </li>
  <li *ngSwitchCase="'green'">green </li>
  <li *ngSwitchDefault>Default orange </li>
</ul>


<!-- COMBINANDO NGFOR CON COMPONENTE -->

<ul>
  <li *ngFor="let item4 of ['first', 'second']; let i=index ">
  
    <app-test1-liz 
    [status] = "item4" 
    (onSendData)="printDataLizComp($event)">
    </app-test1-liz>
  </li>
</ul>

<!-- COMBINANDO NGFOR, NGIF CON COMPONENTE -->
<p>----------------</p>
<span *ngFor="let item5 of ['first', 'second', 'fourth']; let i=index ">

  <app-test1-liz
  *ngIf="item5 !== 'first'" 
  [status] = "item5" 
  (onSendData)="printDataLizComp($event)">
  </app-test1-liz>
</span>
<p>----------------</p>


<!-- TAREA 11/08/21 OP1-->
<ul>
<li *ngFor="let complete of listNames">

  <app-test1-liz 
  [status] = "complete.lastName + ' ' + complete.name" 
  (onSendData)="printDataLizComp($event)">
  </app-test1-liz>
</li>
</ul>

<!-- TAREA 11/08/21 OP2-->
<ul>
<li *ngFor="let complete of listNames">
<app-test2
[name]="complete.name" 
[lastName]="complete.lastName" 
(onSendData)="printData($event)">
</app-test2> 
</li>
</ul>

<!--EJEMPLO NG TEMPLATE CON VARIABLE LOCAL 11/08/2021 --> 
<button (click)= "sw = !sw">SHOW TEST3 CLASE</button>
<div *ngIf="sw else myVarElse ">
  <app-test3-clase 
  [name]="myStatus">
  </app-test3-clase>
</div> 

<div #myDiv1>
  <p> My Div 1</p>
</div>

<ng-template #myVarElse>
  <p> It is my Template </p>
</ng-template>


<!-- EJEMPLO NG CONTENT 11/08 -->
<app-test2
 name="Liz" 
 lastName="Vasquez" 
 (onSendData)="printData($event)">

 <p> Mi propio Contenido</p>
 <p> Mi propio Contenido</p>
 <button> boton Content</button>
</app-test2>


<!-- EJEMPLO NG CONTEINER 11/08 -->
<button (click)= "sw = !sw">SHOW TEST3 CLASE</button>
<ng-container *ngIf="sw" style="margin: 30px;">
  <p> Mi NG CONTEINER</p>
</ng-container>

 <!--   ESTILOS -->
<!-- Ejemplo  directiva de atributo 11/08 -->
<input type="text" [(ngModel)]="color">
<div [style.border]="'5px solid ' + color ">
MI DIV WITH STYLE border
</div>

<input type="text" [(ngModel)]="color">
<div [style.background]="color">
MI DIV WITH STYLE backgound
</div>

<input type="number" [(ngModel)]="color">
<p [style.fontSize.px]="color">
MI P WITH STYLE fontsize
</p>

<p [ngStyle]="{
  'background':'color',
  'border': '5px gray solid'
}"> My P with ngStyle
</p>


<p>-----------------------------</p>
<!-- Ejemplo con ngclass -->
<div [class.algo1]="color === 'hola'">
  My div with class 1
</div>

<div [ngClass]="{
  'algo1': color === 'hola0',
  'algo2': color === 'hola1',
  'algo3': color === 'hola2'
}">
  My div with ngclass
</div>


<!-- tarea4 11/08/-->

<span *ngFor="let num of [0,1,2,4,7,11]">
  <div *ngIf= "num%2 !==0 else num2">
    <p [style.background]="'lavender'">{{num}}</p>
  </div>
  <ng-template #num2>
    <p [style.background]="'salmon'">{{num}}</p>
  </ng-template>

</span>


<!-- clase 12/08 tiktok-->
 <button (click)="onAddVideo()"> add Video </button>

 <button (click)="person1Unsubscribe()"> Uns Person A</button>













