

<p>---------------WALLETS-----------------------</p>


<div>
  TOTAL BTC: {{getTotalCoin('btc')}}
  TOTAL ETH: {{getTotalCoin('eth')}}
</div>

<div *ngIf="getTransactionsStatus()">
  THERE ARE NOT TRANSACTIONS
</div>

<div style="display: flex; flex-direction: row">
  <div *ngFor="let wallet of wallets">
    <app-wallet [data]="wallet">

    </app-wallet>
  </div>
</div>

<p>---------------TRANSACTIONS-----------------------</p>

<div style="display: flex; flex-direction: row;">
  <div *ngFor="let transaction of transactions; let i = index;">

    <app-transaction [data]="transaction">
      <button
        [disabled]="transaction.mineType === 'PoS' &&
       transaction.miner > 5"
      (click)="onMine(transaction)">
        Mine
      </button>
      <button (click)="onEdit()"> Edit</button>
    </app-transaction>
  </div>
</div>


<p>---------------FORM---------------</p>

<div style="border: 1px solid navy;">
  <p>CREAR/EDIT</p>
  <p>TRANSACTION</p>
  <form #form="ngForm" style="display: flex; flex-direction: column;" (ngSubmit)="edit(form)">
    FROM: <input type="text">
    TO: <input type="text">
    QUANTITY: <input type="number">
    MONEY TYPE: <input type="text">
    MINER: <input type="number">
  </form>

</div> 




